<div class="field">
  <%= f.label :station_number, t('activerecord.attributes.spree/address.station_number') + ':' %>
  <%= f.text_field :station_number, :class => 'fullwidth' %>
</div>

<div class="field">
  <%= f.label :locker_number, t('activerecord.attributes.spree/address.locker_number') + ':' %>
  <%= f.text_field :locker_number, :class => 'fullwidth' %>
</div>
